<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Michigan Cycling Check In</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1>Ride History</h1>
        <p>
        {% for date, tss in attendance.items() %}
        <h2>Rides on {{date}}</h2>
        {% for ts, ppl in tss.items() %}
        <h3>{{ts}}</h2>
        {% for p in ppl %}
        {{p}}, 
        {% endfor %}
        {% endfor %}
        {% endfor %}
        </p>
    </body>
</html>
