<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Michigan Cycling Check In</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <h1>Check in for the group ride</h1>
        <h2>@umcycling.org</h2>
        <form action="/submit/" method="post" enctype="multipart/form-data">
            {% if logname == "" %}
            <label for="logname">uniqname:</label><br>
            <input type="text" id="logname" name="logname" required><br>
            {% else %}
            <label for="logout">Logged in as {{logname}}. Not {{logname}}?</label><br>
            <input type="button" id="logout" name="logout"><br>
            {% endif %}
            <input type="submit" value="I'm here!">
        </form>
    </body>
</html>
